@use '../settings' as settings;
@use '../tools'    as tools;

@layer elements {
  :root {
    --clr-dark-surface:  #{ tools.get-color(neutral, 800) };
    --clr-light-surface: #{ tools.get-color(neutral, 50) };
    --clr-light-text:    #{ tools.get-color(neutral, 100) };
    --clr-dark-text:     #{ tools.get-color(neutral, 800) };
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
    font-family:             'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:               var(--fs-global);
    box-sizing:              border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing:  antialiased;
  }

  body {
    @include tools.font-size();

    font-family:      'Open Sans', Helvetica-neue, arial, serif;
    margin:           0;
    padding:          0;
    background-color: var(--_clr-body-bg);
    color:            var(--_clr-body-text);

    color-scheme:     light dark;

    @media (prefers-color-scheme: dark) {
      --_clr-body-bg:   var(--clr-dark-surface);
      --_clr-body-text: var(--clr-light-text);
      --clr-border:     #{ tools.get-color(neutral, 600) };
    }

    @media (prefers-color-scheme: light) {
      --_clr-body-bg:   var(--clr-light-surface);
      --_clr-body-text: var(--clr-dark-text);
      --clr-border:     #{ tools.get-color(neutral, 200) };
    }
  }


  main, footer {
    max-width:     1200px;
    margin-inline: auto;
    padding:       var(--spc-lg) var(--spc-md);
  }


  header, footer {
    text-align: center;
  }


  section {
    margin-block-end: var(--spc-lg);
  }

  h1, h2, h3, h4, h5, h6 {
    @media (prefers-color-scheme: light) {
      color: tools.get-color(primary, dark);
    }

    @media (prefers-color-scheme: dark) {
      color: tools.get-color(primary, light);
    }
  }

  h2, h3, h4, h5, h6 { margin-block: 0 var(--spc-md); }

  h1 {
    @include tools.font-size(h1);
    margin-block: 0 var(--spc-lg);
  }


  h2 {
    @include tools.font-size(h2);
  }


  h3, h4, h5, h6 {
    @include tools.font-size(h3);
  }


  p { margin-block-end: var(--spc-md); }
}

@layer components {
  .banner {
    @include tools.font-size(h1, 1);

    @media (prefers-color-scheme: light) {
      @include tools.surface(accent);
    }

    @media (prefers-color-scheme: dark) {
      @include tools.surface(accent, light);
    }
  }

  .palette {
    --_border-radius:      1rem;

    display:               grid;
    grid-template-columns: repeat(9, 1fr);
    gap:                   0;
    border:                1px solid var(--clr-border);
    border-radius:          var(--_border-radius);
  }

  .color {
    aspect-ratio:     1;
    display:          grid;
    place-items:      center;

    &:first-of-type {
      border-radius: var(--_border-radius) 0 0 var(--_border-radius);
    }

    &:last-of-type {
      border-radius: 0 var(--_border-radius) var(--_border-radius) 0;
    }

    @for $i from 1 through 9 {
      &:nth-child(#{ $i }) {
        @include tools.surface(primary, $i * 100);
      }
    }
  }
}
