@use 'sass:meta';

@use '../settings' as settings with (
  $shades:     ( default: 500, dark: 800, light: 100 ),
  $type-sizes: ( default: 1, h1: 3, h2: 2.25, h3: 1.5, h4: 1.25, h5: 1, h6: .875 ),
  $default-type-size: default,
);

@use '../tools' as tools;


// @debug settings.$spacing-sizes;

@layer elements, components, utilities;


@layer elements {
  $neutral-palette: tools.generate-color-palette(#616165);
  $primary-palette: tools.generate-color-palette(#385375, 400);
  $accent-palette:  tools.generate-color-palette(#0eaf9f, 600);

  @include settings.set-color-palette(neutral, $neutral-palette);
  @include settings.set-color-palette(primary, $primary-palette);
  @include settings.set-color-palette(accent, $accent-palette);

  @include meta.load-css('../variables');
}


@layer components {
  @include meta.load-css('example-page');
}


@layer utilities {
  @include meta.load-css('../utilities');
}
