@layer elements, components, utilities;
@layer elements {
  :root {
    --px-baseline: 6px;
    --rem-baseline: 0.375rem;
    --spc-xs: 0.375rem;
    --spc-sm: 0.75rem;
    --spc-md: 1.125rem;
    --spc-lg: 1.875rem;
    --spc-xl: 3rem;
  }
  :root {
    --fs-global: 16px;
    --fs-default: 1rem;
    --lh-default: 1.5;
    --fs-h1: 3rem;
    --lh-h1: 1.125;
    --fs-h2: 2.25rem;
    --lh-h2: 1.1666666667;
    --fs-h3: 1.5rem;
    --lh-h3: 1.25;
    --fs-h4: 1.25rem;
    --lh-h4: 1.5;
    --fs-h5: 1rem;
    --lh-h5: 1.5;
    --fs-h6: 0.875rem;
    --lh-h6: 1.7142857143;
  }
  :root {
    --clr-neutral: #616165;
    --clr-neutral-contrast: color-mix(in oklch, #616165, hsl(from #616165 h calc(s + 0) 99%) 99%);
    --clr-neutral-dark: color-mix(in oklch, var(--clr-neutral), hsl(from var(--clr-neutral) h calc(s + 6) 5%) 60%);
    --clr-neutral-dark-contrast: color-mix(in oklch, var(--clr-neutral-contrast), hsl(from var(--clr-neutral-contrast) h calc(s + -6) 96%) 96%);
    --clr-neutral-light: color-mix(in oklch, var(--clr-neutral), hsl(from var(--clr-neutral) h calc(s + -8) 95%) 80%);
    --clr-neutral-light-contrast: color-mix(in oklch, var(--clr-neutral-contrast), hsl(from var(--clr-neutral-contrast) h calc(s + 8) 6%) 95%);
    --clr-primary: #385375;
    --clr-primary-contrast: color-mix(in oklch, #385375, hsl(from #385375 h calc(s + -2) 98%) 98%);
    --clr-primary-dark: color-mix(in oklch, var(--clr-primary), hsl(from var(--clr-primary) h calc(s + 6) 5%) 60%);
    --clr-primary-dark-contrast: color-mix(in oklch, var(--clr-primary-contrast), hsl(from var(--clr-primary-contrast) h calc(s + -8) 95%) 95%);
    --clr-primary-light: color-mix(in oklch, var(--clr-primary), hsl(from var(--clr-primary) h calc(s + -8) 95%) 80%);
    --clr-primary-light-contrast: color-mix(in oklch, var(--clr-primary-contrast), hsl(from var(--clr-primary-contrast) h calc(s + 6) 7%) 96%);
    --clr-accent: #0eaf9f;
    --clr-accent-contrast: color-mix(in oklch, #0eaf9f, hsl(from #0eaf9f h calc(s + 2) 9%) 98%);
    --clr-accent-dark: color-mix(in oklch, var(--clr-accent), hsl(from var(--clr-accent) h calc(s + 6) 5%) 60%);
    --clr-accent-dark-contrast: color-mix(in oklch, var(--clr-accent-contrast), hsl(from var(--clr-accent-contrast) h calc(s + -4) 97%) 97%);
    --clr-accent-light: color-mix(in oklch, var(--clr-accent), hsl(from var(--clr-accent) h calc(s + -8) 95%) 80%);
    --clr-accent-light-contrast: color-mix(in oklch, var(--clr-accent-contrast), hsl(from var(--clr-accent-contrast) h calc(s + 10) 5%) 94%);
  }
}
@layer components {
  @layer elements {
    :root {
      --clr-dark-surface: color-mix(in oklch, #616165, hsl(from #616165 h calc(s + 6) 5%) 60%);
      --clr-light-surface: color-mix(in oklch, #616165, hsl(from #616165 h calc(s + -9) 95%) 90%);
      --clr-light-text: color-mix(in oklch, #616165, hsl(from #616165 h calc(s + -8) 95%) 80%);
      --clr-dark-text: color-mix(in oklch, #616165, hsl(from #616165 h calc(s + 6) 5%) 60%);
    }
    *,
    *::before,
    *::after {
      box-sizing: inherit;
    }
    html {
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: var(--fs-global);
      box-sizing: border-box;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
    }
    body {
      font-size: var(--fs-default);
      line-height: var(--lh-default);
      font-family: "Open Sans", Helvetica-neue, arial, serif;
      margin: 0;
      padding: 0;
      background-color: var(--_clr-body-bg);
      color: var(--_clr-body-text);
      color-scheme: light dark;
    }
    @media (prefers-color-scheme: dark) {
      body {
        --_clr-body-bg: var(--clr-dark-surface);
        --_clr-body-text: var(--clr-light-text);
        --clr-border: color-mix(in oklch, #616165, hsl(from #616165 h calc(s + 2) 5%) 20%);
      }
    }
    @media (prefers-color-scheme: light) {
      body {
        --_clr-body-bg: var(--clr-light-surface);
        --_clr-body-text: var(--clr-dark-text);
        --clr-border: color-mix(in oklch, #616165, hsl(from #616165 h calc(s + -6) 95%) 60%);
      }
    }
    main, footer {
      max-width: 1200px;
      margin-inline: auto;
      padding: var(--spc-lg) var(--spc-md);
    }
    header, footer {
      text-align: center;
    }
    section {
      margin-block-end: var(--spc-lg);
    }
    @media (prefers-color-scheme: light) {
      h1, h2, h3, h4, h5, h6 {
        color: var(--clr-primary-dark);
      }
    }
    @media (prefers-color-scheme: dark) {
      h1, h2, h3, h4, h5, h6 {
        color: var(--clr-primary-light);
      }
    }
    h2, h3, h4, h5, h6 {
      margin-block: 0 var(--spc-md);
    }
    h1 {
      font-size: var(--fs-h1);
      line-height: var(--lh-h1);
      margin-block: 0 var(--spc-lg);
    }
    h2 {
      font-size: var(--fs-h2);
      line-height: var(--lh-h2);
    }
    h3, h4, h5, h6 {
      font-size: var(--fs-h3);
      line-height: var(--lh-h3);
    }
    p {
      margin-block-end: var(--spc-md);
    }
  }
  @layer components {
    .banner {
      font-size: var(--fs-h1);
      line-height: 1;
    }
    @media (prefers-color-scheme: light) {
      .banner {
        background-color: var(--clr-accent);
        color: var(--clr-accent-contrast);
      }
    }
    @media (prefers-color-scheme: dark) {
      .banner {
        background-color: var(--clr-accent-light);
        color: var(--clr-accent-light-contrast);
      }
    }
    .palette {
      --_border-radius: 1rem;
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      gap: 0;
      border: 1px solid var(--clr-border);
      border-radius: var(--_border-radius);
    }
    .color {
      aspect-ratio: 1;
      display: grid;
      place-items: center;
    }
    .color:first-of-type {
      border-radius: var(--_border-radius) 0 0 var(--_border-radius);
    }
    .color:last-of-type {
      border-radius: 0 var(--_border-radius) var(--_border-radius) 0;
    }
    .color:nth-child(1) {
      background-color: color-mix(in oklch, #385375, hsl(from #385375 h calc(s + -8) 95%) 80%);
      color: color-mix(in oklch, #385375, hsl(from #385375 h calc(s + 6) 7%) 96%);
    }
    .color:nth-child(2) {
      background-color: color-mix(in oklch, #385375, hsl(from #385375 h calc(s + -6) 95%) 60%);
      color: color-mix(in oklch, #385375, hsl(from #385375 h calc(s + 4) 8%) 97%);
    }
    .color:nth-child(3) {
      background-color: color-mix(in oklch, #385375, hsl(from #385375 h calc(s + -4) 95%) 40%);
      color: color-mix(in oklch, #385375, hsl(from #385375 h calc(s + 2) 9%) 98%);
    }
    .color:nth-child(4) {
      background-color: color-mix(in oklch, #385375, hsl(from #385375 h calc(s + -2) 95%) 20%);
      color: color-mix(in oklch, #385375, hsl(from #385375 h calc(s + 0) 99%) 99%);
    }
    .color:nth-child(5) {
      background-color: #385375;
      color: color-mix(in oklch, #385375, hsl(from #385375 h calc(s + -2) 98%) 98%);
    }
    .color:nth-child(6) {
      background-color: color-mix(in oklch, #385375, hsl(from #385375 h calc(s + 2) 5%) 20%);
      color: color-mix(in oklch, #385375, hsl(from #385375 h calc(s + -4) 97%) 97%);
    }
    .color:nth-child(7) {
      background-color: color-mix(in oklch, #385375, hsl(from #385375 h calc(s + 4) 5%) 40%);
      color: color-mix(in oklch, #385375, hsl(from #385375 h calc(s + -6) 96%) 96%);
    }
    .color:nth-child(8) {
      background-color: color-mix(in oklch, #385375, hsl(from #385375 h calc(s + 6) 5%) 60%);
      color: color-mix(in oklch, #385375, hsl(from #385375 h calc(s + -8) 95%) 95%);
    }
    .color:nth-child(9) {
      background-color: color-mix(in oklch, #385375, hsl(from #385375 h calc(s + 8) 5%) 80%);
      color: color-mix(in oklch, #385375, hsl(from #385375 h calc(s + -10) 94%) 94%);
    }
  }
}
@layer utilities {
  .u-p-xs {
    padding: var(--spc-xs);
  }
  .u-pb-xs {
    padding-block: var(--spc-xs);
  }
  .u-pbs-xs {
    padding-block-start: var(--spc-xs);
  }
  .u-pbe-xs {
    padding-block-end: var(--spc-xs);
  }
  .u-pi-xs {
    padding-inline: var(--spc-xs);
  }
  .u-pis-xs {
    padding-inline-start: var(--spc-xs);
  }
  .u-pie-xs {
    padding-inline-end: var(--spc-xs);
  }
  .u-p-sm {
    padding: var(--spc-sm);
  }
  .u-pb-sm {
    padding-block: var(--spc-sm);
  }
  .u-pbs-sm {
    padding-block-start: var(--spc-sm);
  }
  .u-pbe-sm {
    padding-block-end: var(--spc-sm);
  }
  .u-pi-sm {
    padding-inline: var(--spc-sm);
  }
  .u-pis-sm {
    padding-inline-start: var(--spc-sm);
  }
  .u-pie-sm {
    padding-inline-end: var(--spc-sm);
  }
  .u-p-md {
    padding: var(--spc-md);
  }
  .u-pb-md {
    padding-block: var(--spc-md);
  }
  .u-pbs-md {
    padding-block-start: var(--spc-md);
  }
  .u-pbe-md {
    padding-block-end: var(--spc-md);
  }
  .u-pi-md {
    padding-inline: var(--spc-md);
  }
  .u-pis-md {
    padding-inline-start: var(--spc-md);
  }
  .u-pie-md {
    padding-inline-end: var(--spc-md);
  }
  .u-p-lg {
    padding: var(--spc-lg);
  }
  .u-pb-lg {
    padding-block: var(--spc-lg);
  }
  .u-pbs-lg {
    padding-block-start: var(--spc-lg);
  }
  .u-pbe-lg {
    padding-block-end: var(--spc-lg);
  }
  .u-pi-lg {
    padding-inline: var(--spc-lg);
  }
  .u-pis-lg {
    padding-inline-start: var(--spc-lg);
  }
  .u-pie-lg {
    padding-inline-end: var(--spc-lg);
  }
  .u-p-xl {
    padding: var(--spc-xl);
  }
  .u-pb-xl {
    padding-block: var(--spc-xl);
  }
  .u-pbs-xl {
    padding-block-start: var(--spc-xl);
  }
  .u-pbe-xl {
    padding-block-end: var(--spc-xl);
  }
  .u-pi-xl {
    padding-inline: var(--spc-xl);
  }
  .u-pis-xl {
    padding-inline-start: var(--spc-xl);
  }
  .u-pie-xl {
    padding-inline-end: var(--spc-xl);
  }
  .u-m-xs {
    margin: var(--spc-xs);
  }
  .u-mb-xs {
    margin-block: var(--spc-xs);
  }
  .u-mbs-xs {
    margin-block-start: var(--spc-xs);
  }
  .u-mbe-xs {
    margin-block-end: var(--spc-xs);
  }
  .u-mi-xs {
    margin-inline: var(--spc-xs);
  }
  .u-mis-xs {
    margin-inline-start: var(--spc-xs);
  }
  .u-mie-xs {
    margin-inline-end: var(--spc-xs);
  }
  .u-m-sm {
    margin: var(--spc-sm);
  }
  .u-mb-sm {
    margin-block: var(--spc-sm);
  }
  .u-mbs-sm {
    margin-block-start: var(--spc-sm);
  }
  .u-mbe-sm {
    margin-block-end: var(--spc-sm);
  }
  .u-mi-sm {
    margin-inline: var(--spc-sm);
  }
  .u-mis-sm {
    margin-inline-start: var(--spc-sm);
  }
  .u-mie-sm {
    margin-inline-end: var(--spc-sm);
  }
  .u-m-md {
    margin: var(--spc-md);
  }
  .u-mb-md {
    margin-block: var(--spc-md);
  }
  .u-mbs-md {
    margin-block-start: var(--spc-md);
  }
  .u-mbe-md {
    margin-block-end: var(--spc-md);
  }
  .u-mi-md {
    margin-inline: var(--spc-md);
  }
  .u-mis-md {
    margin-inline-start: var(--spc-md);
  }
  .u-mie-md {
    margin-inline-end: var(--spc-md);
  }
  .u-m-lg {
    margin: var(--spc-lg);
  }
  .u-mb-lg {
    margin-block: var(--spc-lg);
  }
  .u-mbs-lg {
    margin-block-start: var(--spc-lg);
  }
  .u-mbe-lg {
    margin-block-end: var(--spc-lg);
  }
  .u-mi-lg {
    margin-inline: var(--spc-lg);
  }
  .u-mis-lg {
    margin-inline-start: var(--spc-lg);
  }
  .u-mie-lg {
    margin-inline-end: var(--spc-lg);
  }
  .u-m-xl {
    margin: var(--spc-xl);
  }
  .u-mb-xl {
    margin-block: var(--spc-xl);
  }
  .u-mbs-xl {
    margin-block-start: var(--spc-xl);
  }
  .u-mbe-xl {
    margin-block-end: var(--spc-xl);
  }
  .u-mi-xl {
    margin-inline: var(--spc-xl);
  }
  .u-mis-xl {
    margin-inline-start: var(--spc-xl);
  }
  .u-mie-xl {
    margin-inline-end: var(--spc-xl);
  }
  .u-fs-default {
    font-size: var(--fs-default);
    line-height: var(--lh-default);
  }
  .u-fs-h1 {
    font-size: var(--fs-h1);
    line-height: var(--lh-h1);
  }
  .u-fs-h2 {
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
  }
  .u-fs-h3 {
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
  }
  .u-fs-h4 {
    font-size: var(--fs-h4);
    line-height: var(--lh-h4);
  }
  .u-fs-h5 {
    font-size: var(--fs-h5);
    line-height: var(--lh-h5);
  }
  .u-fs-h6 {
    font-size: var(--fs-h6);
    line-height: var(--lh-h6);
  }
}

/*# sourceMappingURL=style.css.map */
