@layer elements, components, utilities;
@layer elements {
  :root {
    --px-baseline: 6px;
    --rem-baseline: 0.375rem;
    --spacing-tiny: 0.375rem;
    --spacing-small: 0.75rem;
    --spacing-default: 1.125rem;
    --spacing-large: 1.875rem;
    --spacing-huge: 3rem;
  }
  :root {
    --fs-global: 16px;
    --fs-small: 0.875rem;
    --lh-small: 1.7142857143;
    --fs-default: 1rem;
    --lh-default: 1.5;
    --fs-subheading: 2rem;
    --lh-subheading: 1.3125;
    --fs-heading: 3rem;
    --lh-heading: 1.125;
    --fs-banner: 5rem;
    --lh-banner: 1.125;
  }
  :root {
    --clr-neutral: #616165;
    --clr-neutral-contrast: color-mix(in oklch, #616165, hsl(from #616165 h calc(s + 0) 90%) 90%);
    --clr-neutral-dark: color-mix(in oklch, var(--clr-neutral), hsl(from var(--clr-neutral) h calc(s + 6) 5%) 60%);
    --clr-neutral-dark-contrast: color-mix(in oklch, var(--clr-neutral-contrast), hsl(from var(--clr-neutral-contrast) h calc(s + 6) 90%) 90%);
    --clr-neutral-light: color-mix(in oklch, var(--clr-neutral), hsl(from var(--clr-neutral) h calc(s + -6) 95%) 60%);
    --clr-neutral-light-contrast: color-mix(in oklch, var(--clr-neutral-contrast), hsl(from var(--clr-neutral-contrast) h calc(s + -6) 10%) 90%);
    --clr-primary: #385375;
    --clr-primary-contrast: color-mix(in oklch, #385375, hsl(from #385375 h calc(s + 0) 90%) 90%);
    --clr-primary-dark: color-mix(in oklch, var(--clr-primary), hsl(from var(--clr-primary) h calc(s + 6) 5%) 60%);
    --clr-primary-dark-contrast: color-mix(in oklch, var(--clr-primary-contrast), hsl(from var(--clr-primary-contrast) h calc(s + 6) 90%) 90%);
    --clr-primary-light: color-mix(in oklch, var(--clr-primary), hsl(from var(--clr-primary) h calc(s + -6) 95%) 60%);
    --clr-primary-light-contrast: color-mix(in oklch, var(--clr-primary-contrast), hsl(from var(--clr-primary-contrast) h calc(s + -6) 10%) 90%);
    --clr-accent: #0eaf9f;
    --clr-accent-contrast: color-mix(in oklch, #0eaf9f, hsl(from #0eaf9f h calc(s + 0) 90%) 90%);
    --clr-accent-dark: color-mix(in oklch, var(--clr-accent), hsl(from var(--clr-accent) h calc(s + 6) 5%) 60%);
    --clr-accent-dark-contrast: color-mix(in oklch, var(--clr-accent-contrast), hsl(from var(--clr-accent-contrast) h calc(s + 6) 90%) 90%);
    --clr-accent-light: color-mix(in oklch, var(--clr-accent), hsl(from var(--clr-accent) h calc(s + -6) 95%) 60%);
    --clr-accent-light-contrast: color-mix(in oklch, var(--clr-accent-contrast), hsl(from var(--clr-accent-contrast) h calc(s + -6) 10%) 90%);
  }
}
@layer elements {
  :root {
    --clr-dark-surface: color-mix(in oklch, #616165, hsl(from #616165 h calc(s + 8) 5%) 80%);
    --clr-light-surface: color-mix(in oklch, #616165, hsl(from #616165 h calc(s + -9) 95%) 90%);
    --clr-light-text: color-mix(in oklch, #616165, hsl(from #616165 h calc(s + -8) 95%) 80%);
    --clr-dark-text: color-mix(in oklch, #616165, hsl(from #616165 h calc(s + 6) 5%) 60%);
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  html {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: var(--fs-global);
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  body {
    font-size: var(--fs-default);
    line-height: var(--lh-default);
    font-family: "Open Sans", Helvetica-neue, arial, serif;
    margin: 0;
    padding: 0;
    background-color: var(--_clr-body-bg);
    color: var(--_clr-body-text);
    color-scheme: light dark;
  }
  @media (prefers-color-scheme: dark) {
    body {
      --_clr-body-bg: var(--clr-dark-surface);
      --_clr-body-text: var(--clr-light-text);
    }
  }
  @media (prefers-color-scheme: light) {
    body {
      --_clr-body-bg: var(--clr-light-surface);
      --_clr-body-text: var(--clr-dark-text);
    }
  }
  main, footer {
    max-width: 1200px;
    margin-inline: auto;
    padding: var(--spacing-large) var(--spacing-default);
  }
  header, footer {
    text-align: center;
  }
  section {
    margin-block-end: var(--spacing-large);
  }
  @media (prefers-color-scheme: light) {
    h1, h2, h3, h4, h5, h6 {
      color: var(--clr-primary-dark);
    }
  }
  @media (prefers-color-scheme: dark) {
    h1, h2, h3, h4, h5, h6 {
      color: var(--clr-primary-light);
    }
  }
  h2, h3, h4, h5, h6 {
    margin-block: 0 var(--spacing-default);
  }
  h1 {
    font-size: var(--fs-heading);
    line-height: var(--lh-heading);
    margin-block: 0 var(--spacing-large);
  }
  h2 {
    font-size: var(--fs-subheading);
    line-height: var(--lh-subheading);
  }
  h3, h4, h5, h6 {
    font-size: var(--fs-default);
    line-height: var(--lh-default);
  }
  p {
    margin-block-end: var(--spacing-default);
  }
}
@layer components {
  .banner {
    font-size: var(--fs-banner);
    line-height: 1;
  }
  @media (prefers-color-scheme: light) {
    .banner {
      background-color: var(--clr-accent-dark);
      color: var(--clr-accent-dark-contrast);
    }
  }
  @media (prefers-color-scheme: dark) {
    .banner {
      background-color: var(--clr-accent-light);
      color: var(--clr-accent-light-contrast);
    }
  }
}
@layer utilities {
  .u-p-tiny {
    padding: var(--spacing-tiny);
  }
  .u-pb-tiny {
    padding-block: var(--spacing-tiny);
  }
  .u-pb-start-tiny {
    padding-block-start: var(--spacing-tiny);
  }
  .u-pb-end-tiny {
    padding-block-end: var(--spacing-tiny);
  }
  .u-pi-tiny {
    padding-inline: var(--spacing-tiny);
  }
  .u-pi-start-tiny {
    padding-inline-start: var(--spacing-tiny);
  }
  .u-pi-end-tiny {
    padding-inline-end: var(--spacing-tiny);
  }
  .u-p-small {
    padding: var(--spacing-small);
  }
  .u-pb-small {
    padding-block: var(--spacing-small);
  }
  .u-pb-start-small {
    padding-block-start: var(--spacing-small);
  }
  .u-pb-end-small {
    padding-block-end: var(--spacing-small);
  }
  .u-pi-small {
    padding-inline: var(--spacing-small);
  }
  .u-pi-start-small {
    padding-inline-start: var(--spacing-small);
  }
  .u-pi-end-small {
    padding-inline-end: var(--spacing-small);
  }
  .u-p {
    padding: var(--spacing-default);
  }
  .u-pb {
    padding-block: var(--spacing-default);
  }
  .u-pb-start {
    padding-block-start: var(--spacing-default);
  }
  .u-pb-end {
    padding-block-end: var(--spacing-default);
  }
  .u-pi {
    padding-inline: var(--spacing-default);
  }
  .u-pi-start {
    padding-inline-start: var(--spacing-default);
  }
  .u-pi-end {
    padding-inline-end: var(--spacing-default);
  }
  .u-p-large {
    padding: var(--spacing-large);
  }
  .u-pb-large {
    padding-block: var(--spacing-large);
  }
  .u-pb-start-large {
    padding-block-start: var(--spacing-large);
  }
  .u-pb-end-large {
    padding-block-end: var(--spacing-large);
  }
  .u-pi-large {
    padding-inline: var(--spacing-large);
  }
  .u-pi-start-large {
    padding-inline-start: var(--spacing-large);
  }
  .u-pi-end-large {
    padding-inline-end: var(--spacing-large);
  }
  .u-p-huge {
    padding: var(--spacing-huge);
  }
  .u-pb-huge {
    padding-block: var(--spacing-huge);
  }
  .u-pb-start-huge {
    padding-block-start: var(--spacing-huge);
  }
  .u-pb-end-huge {
    padding-block-end: var(--spacing-huge);
  }
  .u-pi-huge {
    padding-inline: var(--spacing-huge);
  }
  .u-pi-start-huge {
    padding-inline-start: var(--spacing-huge);
  }
  .u-pi-end-huge {
    padding-inline-end: var(--spacing-huge);
  }
  .u-p-none {
    padding: 0;
  }
  .u-pb-none {
    padding-block: 0;
  }
  .u-pb-start-none {
    padding-block-start: 0;
  }
  .u-pb-end-none {
    padding-block-end: 0;
  }
  .u-pi-none {
    padding-inline: 0;
  }
  .u-pi-start-none {
    padding-inline-start: 0;
  }
  .u-pi-end-none {
    padding-inline-end: 0;
  }
  .u-m-tiny {
    margin: var(--spacing-tiny);
  }
  .u-mb-tiny {
    margin-block: var(--spacing-tiny);
  }
  .u-mb-start-tiny {
    margin-block-start: var(--spacing-tiny);
  }
  .u-mb-end-tiny {
    margin-block-end: var(--spacing-tiny);
  }
  .u-mi-tiny {
    margin-inline: var(--spacing-tiny);
  }
  .u-mi-start-tiny {
    margin-inline-start: var(--spacing-tiny);
  }
  .u-mi-end-tiny {
    margin-inline-end: var(--spacing-tiny);
  }
  .u-m-small {
    margin: var(--spacing-small);
  }
  .u-mb-small {
    margin-block: var(--spacing-small);
  }
  .u-mb-start-small {
    margin-block-start: var(--spacing-small);
  }
  .u-mb-end-small {
    margin-block-end: var(--spacing-small);
  }
  .u-mi-small {
    margin-inline: var(--spacing-small);
  }
  .u-mi-start-small {
    margin-inline-start: var(--spacing-small);
  }
  .u-mi-end-small {
    margin-inline-end: var(--spacing-small);
  }
  .u-m {
    margin: var(--spacing-default);
  }
  .u-mb {
    margin-block: var(--spacing-default);
  }
  .u-mb-start {
    margin-block-start: var(--spacing-default);
  }
  .u-mb-end {
    margin-block-end: var(--spacing-default);
  }
  .u-mi {
    margin-inline: var(--spacing-default);
  }
  .u-mi-start {
    margin-inline-start: var(--spacing-default);
  }
  .u-mi-end {
    margin-inline-end: var(--spacing-default);
  }
  .u-m-large {
    margin: var(--spacing-large);
  }
  .u-mb-large {
    margin-block: var(--spacing-large);
  }
  .u-mb-start-large {
    margin-block-start: var(--spacing-large);
  }
  .u-mb-end-large {
    margin-block-end: var(--spacing-large);
  }
  .u-mi-large {
    margin-inline: var(--spacing-large);
  }
  .u-mi-start-large {
    margin-inline-start: var(--spacing-large);
  }
  .u-mi-end-large {
    margin-inline-end: var(--spacing-large);
  }
  .u-m-huge {
    margin: var(--spacing-huge);
  }
  .u-mb-huge {
    margin-block: var(--spacing-huge);
  }
  .u-mb-start-huge {
    margin-block-start: var(--spacing-huge);
  }
  .u-mb-end-huge {
    margin-block-end: var(--spacing-huge);
  }
  .u-mi-huge {
    margin-inline: var(--spacing-huge);
  }
  .u-mi-start-huge {
    margin-inline-start: var(--spacing-huge);
  }
  .u-mi-end-huge {
    margin-inline-end: var(--spacing-huge);
  }
  .u-m-none {
    margin: 0;
  }
  .u-mb-none {
    margin-block: 0;
  }
  .u-mb-start-none {
    margin-block-start: 0;
  }
  .u-mb-end-none {
    margin-block-end: 0;
  }
  .u-mi-none {
    margin-inline: 0;
  }
  .u-mi-start-none {
    margin-inline-start: 0;
  }
  .u-mi-end-none {
    margin-inline-end: 0;
  }
  .u-fs-small {
    font-size: var(--fs-small);
    line-height: var(--lh-small);
  }
  .u-fs-default {
    font-size: var(--fs-default);
    line-height: var(--lh-default);
  }
  .u-fs-subheading {
    font-size: var(--fs-subheading);
    line-height: var(--lh-subheading);
  }
  .u-fs-heading {
    font-size: var(--fs-heading);
    line-height: var(--lh-heading);
  }
  .u-fs-banner {
    font-size: var(--fs-banner);
    line-height: var(--lh-banner);
  }
}

/*# sourceMappingURL=style.css.map */
