@use 'sass:map';

@use '../settings' as settings;
@use '../tools'    as tools;


/// Generate utility classes for setting font sizes based on the type scale labels.
/// Each class will set both font-size and line-height using the font-size mixin.
///
/// @example css
///   .u-fs-sm { font-size: var(--fs-sm); line-height: var(--lh-sm); }
///   .u-fs-md { font-size: var(--fs-md); line-height: var(--lh-md); }
///   .u-fs-lg { font-size: var(--fs-lg); line-height: var(--lh-lg); }
@each $label in map.keys(settings.$type-sizes) {
  .u-fs-#{ $label } {
    @include tools.font-size($label);
  }
}
