@use 'sass:math';
@use 'sass:list';


/// Base font size in pixels
/// @type Number (with unit)
/// @access public
$global-font-size:  16px !default;

/// Map of type sizes, where labels are keys and scale multipliers are values.
/// @type Map
/// @access public
$type-sizes:        (
                      sm: .875,
                      md: 1,
                      lg: 2,
                      xl: 3,
                      xxl: 5
                    ) !default;

/// Default type size used throughout the design system
/// @type String
/// @access public
$default-type-size: md !default;
