@use 'sass:list';

// Default constants
$_DEFAULT-SPACING-SCALE:  (1, 2, 3, 5, 8);
$_DEFAULT-SPACING-LABELS: (tiny, small, default, large, huge);

$baseline:                6px !default;
$spacing-scale:           $_DEFAULT-SPACING-SCALE !default;
$spacing-labels:          $_DEFAULT-SPACING-LABELS !default;

$spacing-properties:      (padding: 'p', margin: 'm') !default;
$spacing-orientations:    (block: 'b', inline: 'i') !default;
$spacing-positions:       (start, end) !default;
$spacing-sizes:           list.append($spacing-labels, none) !default;

@if (list.length($spacing-scale) != list.length($spacing-labels)) {
  @error 'the `$spacing-labels` and `$spacing-scale` options must have the same length.'
}
