@use 'sass:math';
@use 'sass:meta';

@use '../settings'           as settings;
@use 'tools.get-font-size'   as *;
@use 'tools.get-line-height' as *;
@use 'tools.get-label-index' as *;
@use 'tools.important'       as *;


///* ========================================================================
//   #FONT-SIZE
//   ======================================================================== */

// Generates a rem font-size (with pixel fallback) and a baseline-compatible
// unitless line-height from a pixel font-size value. Basic usage is simply:
//
//   @include font-size(subheading);
//
// You can force a specific line-height by passing it as the second argument:
//
//   @include font-size(heading, 1);
//
// You can also modify the line-height by increments, while staying in the
// baseline grid, by setting the `$modifier` parameter. It takes a positive
// or negative integer, and it will add or remove "lines" to the  generated
// line-height. This is the recommended way to do it, unless you really need
// an absolute value. i.e.:
//
//   // add 2 lines:
//   @include font-size(default, $modifier: +2);
//
//   // subtract 1 line:
//   @include font-size(default, $modifier: -1);

@mixin font-size(
  $labelOrPxValue: default,
  $line-height: auto,
  $modifier: 0,
  $force: false
) {
  $important: important($force);
  $is-label:  get-label-index(settings.$type-labels, $labelOrPxValue) != null;

  @if ($is-label) {
    font-size: var(--fs-#{ $labelOrPxValue }) $important;
  } @else {
    font-size: get-font-size($labelOrPxValue) $important;
  }

  @if ($line-height == 'auto' and $is-label) {
    line-height: var(--lh-#{ $labelOrPxValue }) $important;
  } @else if ($line-height == 'auto') {
    line-height: get-line-height($labelOrPxValue, $modifier) $important;
  } @else {
    line-height: $line-height $important;
  }

}
