@use 'sass:math';
@use 'sass:list';

@use '../settings' as settings;
@use 'tools.important' as *;
@use 'tools.get-label-index' as *;
@use 'tools.px2rem' as *;


/// Get a font size value (in rem or px) from the Font Size Scale.
///
/// @param {String|Number} $labelOrPxValue - Font size label from the scale or pixel value
/// @param {Boolean} $relative [true] - Convert to relative units (rem) or keep absolute units (px)
///
/// @return {Number} - Font size value in rem (if $relative is true) or px (if $relative is false)
///
/// @example scss
///   .element {
///     font-size: get-font-size(heading);     // Uses scale label
///     font-size: get-font-size(16px);        // Uses pixel value
///     font-size: get-font-size(heading, false); // Returns pixel value
///   }
@function get-font-size($labelOrPxValue: default, $relative: true) {
  $index: get-label-index(settings.$type-labels, $labelOrPxValue);
  $absolute: $labelOrPxValue;

  @if ($index != null) {
    $multiplier: list.nth(settings.$type-scale, $index);
    $absolute: math.round($multiplier * settings.$global-font-size);
  }

  @if ($relative == false) {
    @return $absolute;
  }

  @return px2rem($absolute);
}
